/* add font  */
.work-sans-font {
    font-family: "Work Sans", sans-serif;
}
/* header section start */
header{
    max-width: 1400px;
    margin: 0px auto;
    background-color: cadetblue;
    border: 1px solid yellowgreen;
    border-radius: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header-section-1{
    width: 50%;
    height: auto;
    padding: 3rem;
}
.header-section-1 h1{
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem;
    color: #240464;
    font-family: "Poppins", sans-serif;
}
.header-section-1 p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #222625;
    font-family: "Poppins", sans-serif;
}
.header-section-1 button{
    font-size: 1rem;
    font-weight: 600;
    color: #e2f0ec;
    font-family: "Poppins", sans-serif;
    background-color: crimson;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
}
.header-section-2{
    width: 50%;
    display: block;
    height: auto;
}
.header-section-2 img{
    width: 100%;
    height: 100%;
}
/* header section end */
